<div ng-show="pc.loaded">
  <div class="row">
    <div class="col-md-3 col-sm-12" ng-repeat="picture in pc.pictures">
      <%= render partial: 'marriage/pictures/index/picture_block' %>
    </div>
  </div>
  <%= render partial: 'marriage/pictures/index/pagination' %>
</div>
