<div ng-show="ac.loaded">
  <div class="row">
    <div class="col-md-3 col-sm-12" ng-repeat="album in ac.albums">
      <%= render partial: 'marriage/albums/index/album_block' %>
    </div>
  </div>
  <%= render partial: 'marriage/albums/index/pagination' %>
</div>
