<div class="loading panel panel-default {{ic.invite.id ? 'loaded' : ''}}" ng-show="ic.invite.id">
  <div class="panel-heading">
    <h3 class="panel-title">{{ic.invite.label}}</h3>
  </div>

  <div class="panel-body">
    <div class="email-field-block">
      <p>Cadastre seu e-mail para ficar informado(a) de todas as atualizações do site e da festa</p>
      <div class="input-group agregated-block">
        <span class="input-group-addon">E-mail</span>
        <input type="text" name="invite-email"
               class="form-control"
               ng-model="ic.invite.email" />
      </div>
      <div class="input-error" ng-show="ic.errors.email">Email {{ ic.errors.email[0] }}</div>
      <div class="alert alert-success" role="alert" ng-show="ic.success">
        <button type="button" class="close" aria-label="Close" ng-click="ic.success = false"><span aria-hidden="true">&times;</span></button>
        Dados salvos com sucesso
      </div>
    </div>

    <p>Cadastre os nomes dos convidados e confirme as presenças</p>
    <div class="guests-invited-list">
      <div class="input-group agregated-block"
           ng-repeat="guest in ic.invite.guests track by $index">
        <span class="input-group-addon presence-box-{{$index}}">
          <input type="checkbox" name="guest-{{$index}}-presence" ng-model="guest.presence">
        </span>
        <input type="text" name="guest-{{$index}}-name"
               class="form-control guest-name-{{$index}}"
               ng-model="guest.name" ng-change="ic.updateGuest({{$index}})" />
      </div>
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-default" ng-click="ic.update()">Atualizar</button>
      <button type="submit" class="btn btn-default" ng-click="ic.add()"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
  </div>
</div>
