<div class="aglutination-block" ng-show="gsc.link.account">
  <div class="row">
    <dl class="description col-sm-4">
      <dt>Agência</dt>
      <dd>{{ gsc.link.account.agency }}</dd>
    </dl>

    <dl class="description col-sm-4">
      <dt>Conta</dt>
      <dd>{{ gsc.link.account.number }}</dd>
    </dl>

    <div class="col-sm-3" ng-show="gsc.link.bank">
      <div class="btn btn-default bank-logo no-link"
        style="
          background-image: url({{ gsc.link.bank.image_url }});
          background-color: {{ gsc.link.bank.bg_color }}
        ">
        <div>{{ gsc.link.bank.name }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <dl class="description col-sm-12">
      <dt>CPF</dt>
      <dd>{{ gsc.link.account.document }}</dd>
      <dt>Favorecido(a)</dt>
      <dd>{{ gsc.link.account.name }}</dd>
      <dt>Tipo</dt>
      <dd>{{ gsc.link.account.type }}</dd>
    </dl>
  </div>
</div>
