<div class="col-sm-12" ng-show="gsc.link.bank">
  {{ gsc.link.bank.name }}
  <dl class="description">
    <dt>Agência</dt>
    <dd>{{ gsc.link.account.agency }}</dd>
    <dt>Conta</dt>
    <dd>{{ gsc.link.account.number }}</dd>
  </dl>
</div>
