<div class="col-sm-12" ng-show="gsc.link.bank">
    <div class="btn btn-default bank-logo no-link"
      style="
        background-image: url({{ gsc.link.bank.image_url }});
        background-color: {{ gsc.link.bank.bg_color }}
      ">
      <div>{{ gsc.link.bank.name }}</div>
    </div>

  <dl class="description">
    <dt>Agência</dt>
    <dd>{{ gsc.link.account.agency }}</dd>
    <dt>Conta</dt>
    <dd>{{ gsc.link.account.number }}</dd>
  </dl>
</div>
