<div class="col-md-7 col-sm-12 gift-details">
  <%= render partial: 'price' %>
  <%= render partial: 'account' %>

  <div class="row">
    <div class="col-sm-12 gift-description">
      {{ gsc.gift.description }}
    </div>
  </div>
</div>
