<div class="col-md-7 col-sm-12 gift-details">
  <div class="row">
    <div class="col-sm-12 gift-description">
      {{ gsc.gift.description }}
    </div>
    <div class="col-sm-12">
      Preço Total: {{ gsc.link.price * gsc.gift.quantity | currency : 'R$ ' : 2 }}
    </div>
    <div class="col-sm-12">
      Preço unitário: {{ gsc.link.price | currency : 'R$ ' : 2 }}
    </div>
    <div class="col-sm-12">
      Quantidade: {{ gsc.gift.bought }}/{{ gsc.gift.quantity }}
    </div>
    <%= render partial: 'account' %>
  </div>
</div>
