<div class="panel panel-default gift-show" ng-show="gsc.loaded">
  <div class="panel-heading gift-name">{{gsc.gift.name }}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12" ng-show="gsc.gift.given">
        <img src="/assets/wrap.png" class="wrap-image" />
      </div>
      <div class="col-md-5 col-sm-12">
        <img src="{{ gsc.gift.image_url }}" class="gift-image" />
      </div>
      <%= render partial: 'marriage/gift_links/details' %>
    </div>
  </div>
</div>
