<div class="row gift-tools">
  <div class="col-sm-8">
  </div>
  <div class="col-sm-2">
    <button
      class="glyphicon glyphicon-gift" aria-hidden="true"
      ng-click="glc.markGiven(gift.id)"
      ng-show="gloc.admin"
    >
    </button>
  </div>
  <div class="col-sm-2">
    <%= angular_safe_link_to(:marriage_gift, { id: '{{ gift.id }}' }, class: 'badge') do %>
      {{  gift.comments }}
      <div class="glyphicon glyphicon-comment" aria-hidden="true"></div>
    <% end %>
  </div>
</div>

