<a href="{{ link.url }}" target="_BLANK"
   ng-hide="link.bank"
   class="btn btn-default store-link"
   style="
     background-image: url({{ link.store.image_url }});
     background-color: {{ link.store.bg_color }}
   ">
   <div>{{ link.store.name }}</div>
</a>
<a href="<%= marriage_gift_gift_link_safe_path(gift_id: '{{ gift.id || gsc.gift.id }}', id: '{{ link.id }}') %>"
  target="_BLANK"
  ng-show="link.bank"
  class="btn btn-default store-link"
  style="
    background-image: url({{ link.bank.image_url }});
    background-color: {{ link.bank.bg_color }}
  ">
  <div>{{ link.bank.name }}</div>
</a>
