<div class="col-sm-7 comments" ng-controller="CommentsController as cc" ng-show="cc.loaded">
  <div class="aglutination-block">
    <div class="col-sm-8">
      <%= render partial: 'marriage/comments/form' %>
    </div>
    <div class="row" ng-repeat="comment in cc.comments">
      <%= render partial: 'marriage/comments/comment' %>
    </div>
  </div>
</div>
