<div class="panel panel-default">
  <div class="panel-heading"><h4>Informações sobre o traje de padrinho</h4></div>
  <div class="panel-body">
    <p>Como todos sabem, eu (Fernando) sou bem enrolado, então, ainda não consegui escolher o
    traje padrão dos padrinho (e o traje do noivo tambem).</p>

    <p>Mas não se preocupem, pois em breve colocarei esta informação aqui e informarei a todos</p>
  </div>
</div>
