<div class="panel panel-default">
  <div class="panel-heading"><h4>Informações sobre o traje de padrinho</h4></div>
  <div class="panel-body">
    <p>Para os padrinhos, escolhemos terno rica de giz magnético com gravata ciza-prateado</p>

    <div class="row">
      <div class="col-md-6">
        <img src="http://fotos.cristinaefernando.net/terno/modelo-snap.jpg" />
       </div>
      <div class="col-md-6">
        <img src="http://fotos.cristinaefernando.net/terno/closeup-snap.jpg" />
       </div>
    </div>
  </div>
</div>
