<div class="panel panel-default">
  <div class="panel-heading"><h4>Informações sobre o traje de padrinho</h4></div>
  <div class="panel-body">
    <p>Para os padrinhos, escolhemos terno risca de giz magnético com gravata cinza-prateado</p>

    <p>
      Procuramos um lugar, para o aluguel do terno, um lugar de qualidade e bom preço.<br />
      Quem quiser, pode alugar em outro lugar, mas recomendamos uma passada para orçamento pelo
      bom preço e qualidade.
    </p>

    <div class="row">
      <div class="col-md-6 text-center">
        <a href="http://fotos.cristinaefernando.net/terno/modelo.jpg" target="_blank">
          <img src="http://fotos.cristinaefernando.net/terno/modelo-snap.jpg" />
        </a>
      </div>
      <div class="col-md-6 text-center">
        <a href="http://fotos.cristinaefernando.net/terno/closeup.jpg" target="_blank">
          <img src="http://fotos.cristinaefernando.net/terno/closeup-snap.jpg" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <img src="http://fotos.cristinaefernando.net/terno/cartao-snap.jpg" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <img src="http://fotos.cristinaefernando.net/terno/cartao-back-snap.jpg" />
       </div>
    </div>
  </div>
</div>
