<div class="container-fluid loading {{bmc.invite.id ? 'loaded' : ''}}">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row" ng-show="bmc.maidData.hasPeople" ng-repeat="maid in bmc.maidData.people track by $index">
        <%= render 'maid_honor' %>
      </div>
      <div class="row" ng-show="bmc.menData.hasPeople" ng-repeat="best_man in bmc.menData.people track by $index">
        man
      </div>
      <div class="row" ng-hide="bmc.hasPeople">
        b
      </div>
    </div>
  </div>
</div>
