<div class="panel panel-default show-block debug-container">
  <%= render partial: 'marriage/albums/index/debug' %>
  <div class="panel-heading album-name">
    {{ album.name }}&nbsp;
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="show-image-block">
          <%= angular_safe_link_to(
            :marriage_album_pictures,
            album_id: '{{ album.id }}'
          ) do %>
            <img src="{{ album.snap_url }}" class="album-image" />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
