<div class="panel panel-default show-block debug-container">
  <%= render partial: 'marriage/albums/index/debug' %>
  <div class="panel-heading album-name">
    {{ album.name }}&nbsp;
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="show-image-block">
          <a href="{{ album.url }}" target="_BLANK">
            <img src="{{ album.snap_url }}" class="album-image" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
