<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="bg-primary form-box">
        <%= render 'login' %>
        <%= render 'logged_msg' %>
      </div>
    </div>
  </div>
</div>
