<div class="panel panel-default gift-block">
  <div class="panel-heading gift-name">
    {{ gift.name }}
    <span class="debug-hide">{{ gift.id }}</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <a href="<%= angular_path_to marriage_gift_safe_path(id: '{{ gift.id }}') %>">
          <img src="{{ gift.image_url }}" class="gift-image" />
        </a>
      </div>
    </div>
    <%= render partial: 'marriage/gifts/index/gift_price' %>
    <div class="gift-links">
      <%= render partial: 'marriage/gifts/index/gift_links' %>
    </div>
  </div>
</div>
