<div class="panel panel-default gift-block">
  <div class="panel-heading">{{ gift.name }}</div>
  <div class="panel-body">
    <div class="gift-image" style="background-image: url({{ gift.image_url }})">
    </div>
    <div class="gift-links">
      <a ng-repeat="link in gift.gift_links" href="{{ link.url }}" target="_BLANK"
         class="btn btn-default store-link" style="background-image: url({{ link.store.image_url }})">
         <div>{{ link.store.name }}</div>
      </a>
    </div>
  </div>
</div>