<div class="row">
  <div class="col-sm-6" ng-repeat="link in gift.gift_links">
    <a href="{{ link.url }}" target="_BLANK"
       ng-hide="link.bank"
       class="btn btn-default store-link"
       style="
         background-image: url({{ link.store.image_url }});
         background-color: {{ link.store.bg_color }}
       ">
       <div>{{ link.store.name }}</div>
    </a>
    <a href="{{ link.url }}" target="_BLANK"
       ng-show="link.bank"
       class="btn btn-default store-link"
       style="
         background-image: url({{ link.bank.image_url }});
         background-color: {{ link.bank.bg_color }}
       ">
       <div>{{ link.bank.name }}</div>
    </a>
  </div>
</div>
