<div class="panel panel-default gift-block">
  <div class="panel-heading gift-name">{{ gift.name }}</div>
  <div class="panel-body">
    <div class="gift-image" style="background-image: url({{ gift.image_url }})">
    </div>
    <%= render partial: 'gift_price' %>
    <div class="gift-links">
      <%= render partial: 'gift_links' %>
    </div>
  </div>
</div>
