<div class="row">
  <div class="gift-price col-md-6" ng-show="gift.price_range.length > 0">
    <strong>Preço Total: </strong>
    <span ng-repeat="price in gift.price_range track by $index">
      <span ng-show="$index > 0">até</span>
      {{ price | currency : 'R$ ' : 2 }}
    </span>
  </div>
  <div class="gift-quantity col-md-6" ng-show="gift.quantity > 1">
    <strong>Quantidade: {{ gift.quantity }}</strong>
    </span>
  </div>
</div>