<div class="navbar navbar-default navbar-static-top sub-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      Ordernar por:
      <button class="btn btn-default" ng-click="glc.orderBy('name')">
        Nome
        <span class="badge glyphicon glyphicon-arrow-up" ng-show="glc.orderedBy('name', 'asc')"><span></span></span>
        <span class="badge glyphicon glyphicon-arrow-down" ng-show="glc.orderedBy('name', 'desc')"><span></span></span>
      </button>

      <button class="btn btn-default" ng-click="glc.orderBy('price')">
        Preço
        <span class="badge glyphicon glyphicon-arrow-up" ng-show="glc.orderedBy('price', 'asc')"><span></span></span>
        <span class="badge glyphicon glyphicon-arrow-down" ng-show="glc.orderedBy('price', 'desc')"><span></span></span>
      </button>
    </div>
  </div>
</div>
