<div class="navbar navbar-default navbar-static-top sub-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="btn btn-default">
        Nome
        <span class="badge glyphicon glyphicon-arrow-up"><span></span></span>
      </button>
    </div>
  </div>
</div>
