<div ng-controller="GiftsListController as glc" ng-show="glc.loaded">
  <div class="row">
    <div class="col-md-3 cols-sm-12" ng-repeat="gift in glc.gifts">
      <div class="panel panel-default gift-block">
        <div class="panel-heading">{{ gift.name }}</div>
        <div class="panel-body">
          <div class="gift-image" style="background-image: url({{ gift.image_url }})">
          </div>
          <div class="gift-links">
            <a ng-repeat="link in gift.gift_links" href="{{ link.url }}" target="_BLANK" class="btn btn-default">
              <img src="{{ link.store_image_url }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
