<div ng-controller="GiftsListController as glc" ng-show="glc.loaded">
  <div class="row" ng-repeat="giftRow in glc.giftRows">
    <div class="col-xs-3" ng-repeat="gift in giftRow">
      <img src="{{ gift.image_url }}" />
    </div>
  </div>
</div>
