<div ng-controller="GiftsListController as glc" ng-show="glc.loaded">
  <div class="row">
    <div class="col-md-3 cols-sm-12" ng-repeat="gift in glc.gifts">
      <%= render partial: 'gift_block' %>
    </div>
  </div>
</div>
