<div ng-controller="GuestsSearcherController as gsc">
  <input ui-select2="{query: gsc.search, minimumInputLength: 3}"
         ng-model="ic.selected"
         data-placeholder="Digite o seu nome ou o nome no convite"
         class="select-search" />
</div>
