<div class="panel panel-default show-block debug-container">
  <%= render partial: 'marriage/pictures/index/debug' %>
  <div class="panel-heading picture-name">
    {{ picture.name }}&nbsp;
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 show-image-block">
          <img src="{{ picture.snap_url }}" class="picture-image" />
      </div>
    </div>
  </div>
</div>
