.debug-hide {
  display: none;

  &.debug-float {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #ffff66;
  }
}

body.debug {
  .debug-container {
     position: relative;

     &:hover {
      .debug-hide {
        display: block;
      }
    }
  }
}
