.gift-block {
  margin: 0 auto 20px;

  .gift-name {
    white-space: nowrap;
    overflow: hidden;
  }

  .gift-quantity {
    text-align: right;
  }

  .gift-price, .gift-quantity {
    height: 1.2em;
    font-size: 1.3em;
    margin-bottom:.5em;

    strong {
      font-size: 0.7em;
    }
  }

  .gift-links {
    height: 70px;
    width: 300px;
  }
}


.gift-block, .gift-show {
  .store-link, .bank-logo {
    background-repeat: no-repeat;
    background-position: center;

    div {
      width: 80px;
      height: 20px;
      text-indent: -99999px;
    }
  }

  .gift-image {
    max-width: 90%;
    width: 90%;
    margin: 0px 5% 10%;
  }
}

.gift-show {
  .gift-details {
    font-size: 2rem;

    .gift-description {
      font-size: 1.4em;
    }
  }
}
