// Place all the styles related to the marriage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  color: #666;
}

body {
  padding-top: 70px;
  background-image: url('bg.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
}

body.blank {
  padding-top: 0px;
  background: #fff;
}

dl.in-line {
  dt {
    float: left;
    clear: left;
    margin-right: 5px;

    &:after {
      content: ':';
    }
  }
}

.main-links {
  button.btn {
    width: 100%;
    height: 80px;
    padding: 1px;
    padding-left: 30px;
    vertical-align: middle;
    background: url('d75.png') transparent;

    &:disabled {
      background: #ccc;
    }

    &:hover {
      background: #fff;
    }

    .glyphicon {
      font-size: 4em;
      float: left;
      padding: 7px 0;
    }

    .text {
      font-size: 1.7em;
      padding: 18px 0;
    }

  }

  & > .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-date {
  display: inline-table;
}
