// Place all the styles related to the marriage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
  background-image: url('bg.jpg');
  background-color: #fff;
  background-repeat: no-repeat;
}

dl.in-line {
  dt {
    float: left;
    clear: left;
    margin-right: 5px;

    &:after {
      content: ':';
    }
  }
}

.main-links {
  button.btn {
    width: 400px;
    height: 80px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;

    span.text {
      font-size: 1.3em;
    }
  }

  & > .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

