@media screen and (min-width: 480px) {
  .main-links {
    a.btn, button.btn {
      .glyphicon {
        font-size: 4em;
      }

      .text {
        font-size: 1.7em;
      }
    }
  }

  .gift-block {
    width: 300px;
    margin-bottom: 20px;

    .gift-image {
      height: 200px;
    }

    .gift-links {
      height: 100px;
      width: 300px;
    }
  }
}