<div class="container-fluid main-links">
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-primary" type="button" disabled="disabled">
        <div class="glyphicon glyphicon-globe" aria-hidden="true"></div>
        <div class="text">Mapas e localização</div>
      </button>
    </div>

    <div class="col-md-offset-1 col-md-5">
      <button class="btn btn-primary" type="button" disabled="disabled">
        <div class="glyphicon glyphicon-envelope" aria-hidden="true"></div>
        <div class="text">Mande uma mensagem</div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a class="btn btn-primary" type="button" href="<%= angular_path_to(marriage_guests_path) %>">
        <div class="glyphicon glyphicon-qrcode" aria-hidden="true"></div>
        <div class="text">Confirme sua presença</div>
      </a>
    </div>

    <div class="col-md-offset-1 col-md-5">
      <a class="btn btn-primary" type="button" href="<%= angular_path_to(marriage_best_man_index_path) %>">
        <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
        <div class="text">Acesso dos Padrinhos</div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-primary" type="button" disabled="disabled">
        <div class="glyphicon glyphicon-gift" aria-hidden="true"></div>
        <div class="text">Lista de presentes</div>
      </button>
    </div>

    <div class="col-md-offset-1 col-md-5">
      <button class="btn btn-primary" type="button" disabled="disabled">
        <div class="glyphicon glyphicon-camera" aria-hidden="true"></div>
        <div class="text">Fotos</div>
      </button>
    </div>
  </div>
</div>
