<% events.each do |event| %>
  <p><%= event.description %></p>
  <dl class="in-line">
    <dt>Horário</dt>
    <dd><%= event.time.strftime('%H:%M') %></dd>
    <dt>Local</dt>
    <dd><%= event.location %></dd>
    <dt>Endereço</dt>
    <dd><%= event.address %></dd>
  </dl>
<% end %>
