<div class="container-fluid main-links">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <div class="glyphicon glyphicon-globe" aria-hidden="true"></div>
        <div class="text">Mapas e localização</div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <div class="glyphicon glyphicon-envelope" aria-hidden="true"></div>
        <div class="text">Confirme sua presença</div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
        <div class="text">Acesso de Padrinhos</div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <div class="glyphicon glyphicon-gift" aria-hidden="true"></div>
        <div class="text">Lista de presentes</div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <div class="glyphicon glyphicon-camera" aria-hidden="true"></div>
        <div class="text">Fotos</div>
      </button>
    </div>
  </div>
</div>
