<div class="container-fluid main-links">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <span class="text">Mapas e localização</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <span class="text">Confirme sua presença</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <span class="text">Lista de presentes</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">
        <span class="text">Fotos</span>
      </button>
    </div>
  </div>
</div>
