<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <% marriage.events.each do |event| %>
        <p><%= event.description %></p>
        <dl class="in-line">
          <dt>Horário</dt>
          <dd><%= event.time.strftime('%H:%M') %></dd>
          <dt>Local</dt>
          <dd><%= event.location %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>
